absl-py==1.4.0
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==21.1.0
asciinema==2.1.0
asciitree==0.3.3
astunparse==1.6.3
attrs==21.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bibtexparser==1.1.0
biom-format==2.1.10
bleach==4.1.0
blinker==1.4
Bottleneck==1.3.2
Brlapi==0.8.3
Brotli==1.0.9
CacheControl==0.12.10
cachetools==5.3.0
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
construct==2.10.67
cryptography==3.4.8
cupshelpers==1.0
cutadapt==3.5
cwiid==0.6.91
cycler==0.11.0
Cython==0.29.28
dblatex==0.3.12
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
dill==0.3.4
distro==1.7.0
distro-info===1.1build1
dnaio==0.7.1
duplicity==0.8.21
entrypoints==0.4
et-xmlfile==1.0.1
fasteners==0.14.1
flatbuffers==23.3.3
fonttools==4.29.1
fs==2.4.12
future==0.18.2
gast==0.4.0
gattlib==0.20201113
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.0
h5py==3.6.0
h5py.-debian-h5py-serial==3.6.0
hdmedians==0.14.1
html5lib==1.1
httplib2==0.20.2
idna==3.3
ifaddr==0.1.7
ijson==3.1.4
importlib-metadata==4.6.4
inflection==0.5.1
iniconfig==1.1.1
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==6.0.0
jax==0.4.8
jdcal==1.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
keras==2.12.0
keras-tuner==1.3.5
keyring==23.5.0
kiwisolver==1.3.2
kt-legacy==1.0.5
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==16.0.0
llvmlite==0.38.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.5.1
matplotlib-inline==0.1.3
ml-dtypes==0.1.0
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
msgpack==1.0.3
natsort==8.0.2
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
netifaces==0.11.0
networkx==2.4
nose==1.3.7
notebook==6.4.8
numba==0.55.1
numexpr==2.8.1
numpy==1.23.5
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.1
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pluggy==0.13.0
ply==3.11
prometheus-client==0.9.0
prompt-toolkit==3.0.28
protobuf==4.22.3
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyBluez==0.23
pycairo==1.20.1
pycups==2.0.1
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pylibiio==0.23
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==6.2.5
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-miio==0.5.0.1
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
q2-cutadapt==2021.8.0
q2-demux==2021.8.0
q2-feature-classifier==2021.8.0
q2-feature-table==2021.8.0
q2-metadata==2021.8.0
q2-quality-control==2021.8.0
q2-quality-filter==2021.8.0
q2-taxa==2021.8.0
q2-types==2021.8.0
q2templates==2021.8.0
qiime2==2021.8.0
Quandl==3.7.0
reportlab==3.6.8
requests==2.25.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-bio==0.5.6
scikit-learn==0.23.2
scipy==1.8.0
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.1b0
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.1
ssh-import-id==5.11
sympy==1.9
systemd-python==234
tables==3.7.0
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.2.0
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
toml==0.10.2
tornado==6.1
tqdm==4.57.0
traitlets==5.1.1
typing_extensions==4.5.0
tzlocal==2.1
ubuntu-advantage-tools==27.11.2
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
urllib3==1.26.5
usb-creator==0.3.7
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.3
widgetsnbextension==2.0.0
wrapt==1.14.1
xdg==5
xkit==0.0.0
xlwt==1.3.0
xopen==1.2.1
zeroconf==0.38.3
zipp==1.0.0
